.video-time {
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    
    background-color: black;
    color: white; 
    position: absolute;
    right: 10px;
    bottom: 10px;
}